.first-img {
    width: 100vw;
}

.fbox{
    color:white;
}

footer{
    background-color: navy;
}

.first-line{
    border-bottom: 1px solid white;
}

.second-line a{
    color:white;
    text-decoration: none;
}

.tline{
    display:none;
    color:white;
}

.row{
    color:white;
}

.card{
    color:black;
}

.container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
    color:white;
}


.second-line a {
    color: white;
    text-decoration: none;
}
.btn-outline-success {
        color: navy;
        border-color: navy;
      }
      .btn-outline-success:hover {
        background-color: navy;
        color: white;
        border-color: Navy;
      }

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.font-center{
    text-align: center;
}

.item-center{
    align-items: center;
}

.font-black{
    color:black;
}

.font-white{
    color: white;
}


@media (max-width:48rem){
    .first-line{
        text-align:center;
    }

    .second-line{
        padding:0 2rem;
        border-bottom: 1px solid white;
        width:100%;
        text-align:center;
        display:block;
    }

    .tline{
        display:block;
    }

    .col{
        padding-bottom: 1rem;
    }
    
}


